/* Breakpoints
0 - 600px:      Phone
600 - 900px:    Tab-port
900 - 1200px:   Tab-land
[1200 - 1800px] this is where the normal styles apply
1800px + :      Big-desktop

$Breakpoint argument choices:

- phone
- tab-port
- tab-land
- big-desktop

*/
@keyframes moveUpBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Saira Condensed", sans-serif; }

.title {
  text-transform: uppercase;
  color: #ffc107;
  font-size: 6rem;
  padding-top: 8rem; }

.paragraph {
  font-size: 2rem; }
  @media (max-width: 56.25em) {
    .paragraph {
      font-size: 1.8rem; } }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 2.8rem; } }

.sub-title {
  font-size: 4rem; }

.text {
  display: inline-block;
  margin-right: 2rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: #ffc107; }
  @media (max-width: 56.25em) {
    .text {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .text {
      font-size: 2.3rem; } }
  .text:hover {
    text-decoration: none;
    color: white; }

.u-paragraph-about {
  font-size: 1.8rem; }

.btn {
  background-color: #ffc107;
  font-size: 2.5rem;
  color: #000;
  margin-top: 3rem;
  padding: 1rem 5rem;
  font-weight: 900;
  box-shadow: 0 1rem 1rem;
  border-radius: 1rem;
  animation: moveUpBottom 2s 2s;
  animation-fill-mode: backwards; }
  .btn:active {
    box-shadow: 0 .5rem .5rem; }

.row {
  max-width: 115rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
  @media (max-width: 56.25em) {
    [class^="col-"] {
      width: 100% !important; }
      [class^="col-"]:not(:last-child) {
        margin-right: 0; } }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.col-2-of-3 {
  width: calc((2 *(100% - 2 * 6rem) / 3) + 6rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.col-2-of-4 {
  width: calc((2 *(100% - 3 * 6rem) / 4) + 6rem); }

.col-3-of-4 {
  width: calc((3 *(100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4)), url("../img/iceland.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  margin-bottom: 8rem; }
  @media (max-width: 37.5em) {
    .header {
      height: 75vh;
      background-position: right; } }
  .header__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__title {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 900; }
    .header__title--main {
      display: block;
      animation: moveUpBottom 2s;
      font-size: 8rem;
      letter-spacing: 1rem;
      text-shadow: 0 0.5rem 0.5rem #000; }
      @media (max-width: 37.5em) {
        .header__title--main {
          font-size: 7rem; } }
    .header__title--sub {
      display: block;
      animation: moveUpBottom 2s 1s;
      font-size: 3.8rem;
      letter-spacing: 1rem;
      text-shadow: 0 0.2rem 0.2rem #000;
      animation-fill-mode: backwards; }
      @media (max-width: 37.5em) {
        .header__title--sub {
          font-size: 3.2rem; } }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal__content {
    width: 45%;
    margin: 0 auto;
    position: relative;
    top: 25%;
    background-color: #fff;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.6);
    color: #ffc107; }
    @media (max-width: 56.25em) {
      .modal__content {
        width: 80vw;
        top: 20%; } }

.about-modal {
  width: 100%;
  height: 100%; }

.about-modal h4 {
  padding-top: 2rem;
  font-size: 4rem; }

.about-modal p {
  font-size: 1.6rem;
  color: #000;
  text-align: left;
  padding: 2rem 5rem 5rem 5rem; }

.about-1 {
  display: none; }

.about-2 {
  display: none; }

.about-3 {
  display: none; }

.about-4 {
  display: none; }

.about-5 {
  display: none; }

.about-6 {
  display: none; }

.navbar-dark .navbar-brand {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffc107; }

.navbar-dark .navbar-nav .nav-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffc107;
  margin: 0 3rem; }

.about {
  height: 100vh; }
  @media (max-width: 56.25em) {
    .about {
      width: 75%;
      margin: 0 auto; } }
  .about__paragraph {
    margin-top: 5rem; }
    @media (max-width: 56.25em) {
      .about__paragraph {
        margin-top: 2rem; } }
    @media (max-width: 37.5em) {
      .about__paragraph {
        margin-top: 0; } }
  .about__links {
    margin-top: 15rem;
    font-size: 5rem;
    text-align: center; }
    @media (max-width: 56.25em) {
      .about__links {
        margin-top: 5rem;
        font-size: 2.5rem; } }
    @media (max-width: 37.5em) {
      .about__links {
        margin-top: 10rem;
        font-size: 5rem; } }
    .about__links a {
      padding: 2rem; }
  .about__contact {
    font-size: 2.5rem; }
    @media (max-width: 56.25em) {
      .about__contact {
        display: inline-block;
        position: relative;
        bottom: 1.6rem;
        padding-right: 2rem; } }
    @media (max-width: 37.5em) {
      .about__contact {
        display: block; } }

.link {
  border-radius: 50%;
  background-color: #ffc107;
  color: #000;
  padding: 1rem;
  transition: all 1s; }
  .link:hover {
    background-color: #000;
    color: #ffc107; }

.education {
  height: 100vh;
  position: relative; }
  @media (max-width: 56.25em) {
    .education {
      width: 75%;
      margin: 0 auto; } }
  .education__content {
    position: absolute;
    top: 40%; }
    @media (max-width: 56.25em) {
      .education__content {
        position: relative;
        margin-top: -1rem; } }
    @media (max-width: 37.5em) {
      .education__content {
        font-size: 1.8rem; } }

.footer {
  background-color: #212529;
  margin: 0; }
  .footer::after {
    content: "";
    display: table;
    clear: both; }
  .footer__paragraph {
    color: #ffc107;
    padding: 5rem 0;
    text-align: center; }

@media (max-width: 56.25em) {
  .portfolio {
    width: 75%;
    margin: 0 auto; } }

.portfolio__card {
  margin-bottom: 6rem;
  box-shadow: 0 1rem 1rem; }

.portfolio__image {
  height: 19rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .portfolio__image {
      width: 100%;
      height: 50%; } }
  .portfolio__image--search {
    position: absolute;
    right: 0;
    color: #ffc107;
    font-size: 4rem;
    margin: 1rem;
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.8);
    cursor: pointer; }
  .portfolio__image--pic {
    width: 100%;
    height: 100%; }

.portfolio__footer {
  background-color: #000;
  color: #ffc107;
  padding: 1rem 0; }
  .portfolio__footer--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0; }
  .portfolio__footer--title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center; }
    @media (max-width: 56.25em) {
      .portfolio__footer--title {
        font-size: 6rem; } }

.portfolio-icon {
  font-size: 2.5rem;
  margin-right: 1rem; }
  @media (max-width: 56.25em) {
    .portfolio-icon {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .portfolio-icon {
      font-size: 2.5rem; } }

.skills {
  height: 75vh;
  position: relative; }
  @media (max-width: 56.25em) {
    .skills {
      width: 75%;
      margin: 0 auto; } }
  .skills__content {
    position: absolute;
    top: 40%; }
    .skills__content--icons {
      font-size: 5rem;
      margin-top: 5rem; }

.skill-icon {
  padding: 0 1.5rem;
  transition: all .5s; }
  .skill-icon-react {
    position: relative;
    bottom: .5rem; }
  .skill-icon:hover {
    color: #ffc107; }
