.education {
    height: 100vh;
    position: relative;

    @include respond(tab-port) {
        width: 75%;
        margin: 0 auto;
    }

    &__content {
        position: absolute;
        top: 40%;


        @include respond(tab-port) {
            position: relative;
            margin-top: -1rem;
        }

        @include respond(phone) {
            font-size: 1.8rem;
        }

    }

}