.skills {
    height: 75vh;
    position: relative;

    @include respond(tab-port) {
        width: 75%;
        margin: 0 auto;
    }

    &__content {
        position: absolute;
        top: 40%;

        &--icons {
            font-size: 5rem;
            margin-top: 5rem;

        }
    }

}

.skill-icon {
    padding: 0 1.5rem;
    transition: all .5s;

    &:hover {
        color: $theme-color;

    }
}