.header {
    background-image: linear-gradient(to top right,
                     rgba(255, 255, 255, .7),
                    rgba(255, 255, 255, .4)),
                     url("../img/iceland.jpg");
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    position: relative;
    margin-bottom: $gutter-vertical;

    @include respond(phone) {
        height: 75vh;
    }

    &__content {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: $color-black;
        font-weight: 900;

        &--main {
            display: block;
            animation: moveUpBottom 2s;
            font-size: 8rem;
            letter-spacing: 1rem;
            text-shadow: 0 .5rem .5rem $color-black;

            @include respond(phone) {
                font-size: 7rem;
            }

        }

        &--sub {
            display: block;
            animation: moveUpBottom 2s 1s;
            font-size: 3.8rem;
            letter-spacing: 1rem;
            text-shadow: 0 .2rem .2rem $color-black;
            animation-fill-mode: backwards;

            @include respond(phone) {
                font-size: 3.2rem;
            }
        }
    }
}