.navbar-dark {

    .navbar-brand {
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $theme-color;
    }

    .navbar-nav {

        .nav-link {
            font-size: 1.8rem;
            text-transform: uppercase;
            color: $theme-color;

        }
    }
}


