.navbar-dark {

    .navbar-brand {
        font-size: 2rem;
        text-transform: uppercase;
        color: $theme-color;
    }

    .navbar-nav {

        .nav-link {
            font-size: 2rem;
            text-transform: uppercase;
            color: $theme-color;
            margin: 0 3rem;

        }
    }
}


