.title {
    text-transform: uppercase;
    color: $theme-color;
    font-size: 6rem;
    padding-top: 8rem;
}

.paragraph {
    font-size: 2rem;
}

.sub-title {
    font-size: 4rem;
}

.text {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: $theme-color;

    &:hover {
        text-decoration: none;
        color: white;
    }
}