.title {
    text-transform: uppercase;
    color: $theme-color;
    font-size: 4rem;
}

.paragraph {
    font-size: 1.6rem;
}

.sub-title {
    font-size: 3rem;
}

.text {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.3rem;
}